{% extends 'base.html.twig'  %}
{% block body %}
<div class="container-fluid position-relative" style="background-image: url('{{ asset('assets/images/bg.jpg') }}')!important;background-size:cover;background-repeat:no-repeat;min-height:300px;max-height:300px;width:100vw;">

    <div class="photo bg-info align-middle rounded-circle position-absolute bottom text-center  " style="width:100px; height:100px; bottom:-40px; border:3px Solid #fff;">
        <h2 class="align-middle text-light" style="margin-top:27px;">{{ user.lastname|slice(0,1) }}{{ user.firstname|slice(0,1) }}</h2>
    </div>
    <a href="{{ path('profile_edit',{id:user.id}) }}" class="btn btn-info mt-5 position-absolute" style="right:1000px; bottom:-13px;right:17%;z-index:1000;">Modifier</a>
</div>


    <div class="container-fluid " style="width:100%;">
        <div class="title pt-4">
            <h1 class="" style="padding-left: 100px;">{{ user.lastname }} {{ user.firstname }}</h1>

        </div>
    </div>

    <div class="container-fluid">
        <!-- Carousel -->
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3">Mes évennements</h3>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for subscription in user.subscriptions %}
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>

                            <div class="carousel-inner">
                                {% for subscription in user.subscriptions %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <div class="card" style="border-radius:10px;">
                                                    <img class="img-fluid" alt="100%x280" src="https://memberpress.com/wp-content/uploads/2019/10/Member-Meetup@2x.png">
                                                    <div class="card-body">
                                                        <h4 class="card-title">{{ subscription.event.title }}</h4>
                                                        <p class="card-text">{{ subscription.event.description }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>






    <!-- evenements -->


{% endblock %}

{% block javascripts %}


{% endblock %}