{% extends 'base.html.twig' %}

{% block title %} {{subject.title }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col bg-white mt-3 " style="border-radius:10px;">

                <div class="card bg-white border-0">

                    <div class="card-body">


                            <div class="subject-title">
                                <h3 class="text-primary">{{ subject.title}} </h3>

                                <a href="{{ path('subjects_like',{id:subject.id}) }}" class="btn btn-link js-like" id="js-like">
                                    {% if app.user and subject.isLikedByUser(app.user) %}
                                        <i class="fa fa-heart  text-danger" style="position:absolute;top:7px; right:9px;font-size:22px;" >
                                            <span class="js-label"> Je n'aime plus</span>
                                        </i>  <br>
                                    {% else %}
                                        <i class="fa fa-heart-o text-danger " style="position:absolute;top:7px; right:9px;font-size:22px;border-color: red;" >
                                            <span class="js-label"> J'aime</span></i>
                                        <br>
                                    {% endif %}

                                    <span class="js-likes text-muted" style="font-size:10px;position:absolute;top:27px; right:76px;">{{ subject.likes|length }}</span>
                                </a>
                            </div>


                        <p>Proposé par: {{ subject.ownerId.lastname }} {{ subject.ownerId.firstname }} le {{ subject.createdAt|date("d-m-Y") }}</p>
                        <p>
                            {{ subject.description |raw }}
                        </p>
                        <div class="d-flex ">
                            <!-- When Create and user is owner -->
                            {% if app.user == subject.ownerId   %}
                                <a href="{{ path('subjects_edit', {slug: subject.slug}) }}" class="btn btn-warning mr-2">Modifier</a>
                                <a href="#" data-toggle="modal" type="button" class="btn btn-danger mr-2" data-target="#ModalDeleteSubject" data-parametre={{ subject.id }}> Supprimer</a>
                                {% if subject.status=="draft" %}
                            <a href="{{ path('subjects_request_review', {slug:subject.slug}) }}" class="btn btn-info"> Demander une revue</a>
                                    {% endif %}
                            {% endif %}

                            <!-- When user is board and user is  not owner -->

                            {% if app.user !=subject.ownerId and is_granted("ROLE_BOARD") and subject.status=="reviewed"  %}
                                <a href="{{ path('subjects_review',{slug:subject.slug,state:"reject"}) }}" class="btn btn-danger mr-2">Rejeter</a>
                                <a href="{{ path('subjects_review',{slug:subject.slug,state:"publish"}) }}" class="btn btn-success">Valider</a>
                            {% endif %}

                        </div>



                    </div>


                </div>


            </div>
        </div>
    </div>

    <!-- DELETE SUBJECT Modal-->
    <div class="modal fade" id="ModalDeleteSubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Voulez-vous vraiment supprimer ce sujet  </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Cette action est irréversible</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#" id="lienAvecParametre">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/ajaxLike.js') }}"></script>
    <script>

        $(document).ready(function() {
            // Lorsque le modal est sur le point d'être affiché
            $('#ModalDeleteSubject').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Bouton qui a déclenché le modal

                // On récupère la valeur du paramètre
                var parametre = button.data('parametre');
                // On met à jour le lien avec le nouveau paramètre
                var lien = "{{ path('subjects_delete', {'id': 'VALEUR_DU_PARAMETRE'  }) }}";
                lien = lien.replace('VALEUR_DU_PARAMETRE', parametre);

                // On met à jour l'attribut href du lien dans le modal
                $('#lienAvecParametre').attr('href', lien);
            });
        });

    </script>
{% endblock %}